@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Biotif";
  src: url("../public/fonts/biotif-regular.otf");
}

@font-face {
  font-family: "Biotif-Light";
  src: url("../public/fonts/biotif-light.otf");
}

@font-face {
  font-family: "Biotif-Bold";
  src: url("../public/fonts/biotif-bold.otf");
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
  overflow-y: scroll;
  width: 100vw;
}

html {
  scrollbar-width: none; /* for Firefox */
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
